{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>task master</h1>
    {% if tasks|length < 1 %}
    <h3>no hay tareas crea una abajo</h3>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
        {% for task in tasks %}
            <td> {{ task.content }} </td>
            <td> {{ task.date_created.date() }} </td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>

                <br>
                <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="add task">
    </form>
</div>

{% endblock %}